openapi: '3.0.0'
info:
  version: 1.0.0
  title: Front Customer Experience API
  license:
    name: MIT
servers:
  - url: https://api.front.com/v1
paths:
  /conversations:
    get:
      summary: List all customer conversations
      operationId: listConversations
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of conversations
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new customer conversation
      operationId: createConversation
      responses:
        201:
          description: Conversation created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /conversations/{conversationId}:
    get:
      summary: Info for a specific customer conversation
      operationId: showConversationById
      parameters:
        - name: conversationId
          in: path
          required: true
          description: The id of the conversation to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customers:
    get:
      summary: Retrieve a list of all customers in the system
      operationId: listCustomers
      parameters:
        - name: limit
          in: query
          description: Number of customers to return per page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Successful response with paginated customer list
          headers:
            x-next:
              description: Link to the next page of results
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Add a new customer to the platform
      operationId: createCustomer
      responses:
        201:
          description: Customer successfully created
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Conversation:
      required:
        - id
        - subject
      properties:
        id:
          type: integer
          format: int64
        subject:
          type: string
        customer_id:
          type: integer
          format: int64
    Conversations:
      type: array
      items:
        $ref: '#/components/schemas/Conversation'
    Customer:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        email:
          type: string
    Customers:
      type: array
      items:
        $ref: '#/components/schemas/Customer'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string